* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gabarito', sans-serif;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.navbar_s1_title {
    color: #A435F0FF;
}

.navbar_s2 {
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar_s2 input {
    border: none;
    font-size: 16px;
    width: 100%;
    background-color: transparent;
}

.navbar_s2 input:focus {
    outline: none;
}

.navbar_s3 {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: bold;
    border-radius: 30px;
}

.navbar_s3 p:hover {
    background-color: #e3dee6;
}

/* My Learning Popup */

.mylearning {
    position: relative;
    cursor: pointer;
}

.mylearning__popup {
    position: absolute;
    background-color: white;
    border: solid black 1px;
    width: 100px;
    top: 150%;
    padding: 20px;
    right: 0;
    font-family: sans-serif;
    font-size: small;
    display: none;
}

.mylearning__popup h2 {
    font-size: medium;
}

.mylearning:hover .mylearning__popup {
    display: block;
}

.categories {
    display: flex;
    padding: 10px;
    border-bottom: solid black 1px;
    justify-content: space-around;
}

.categories p {
    background-color: rgb(180, 30, 150);
    color: white;
    padding: 10px;
    border-radius: 30px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease, transform 0.2s ease;
}

.categories p:hover {
    background-color: #30e044;
}

.sale-image {
    position: relative;
}

.sale-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.sale-image-offer {
    width: 35%;
    border: solid black 2px;
    background-color: white;
    padding: 2%;
    position: absolute;
    top: 10%;
    left: 55%;
}

.text-overlay {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}


.recommended {
    padding: 10px;
}

.recommended_title {
    color: #551a6e;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 80px;
}

.recommended p {
    color: #551a6e;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
}

.recommended_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    gap: 10px;
}

.course-card {
    width: 250px;
    margin: 10px;
    background: #f8f8f8;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    box-sizing: content-box;
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding: 10px;
}

.course-card p.p1 {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.course-card p.p2 {
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.course-card p.p3 {
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
}

.course-card p.p4 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


.course-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.course-card img {
    display: block;
    height: 50%;
    width: 100%;
    border-radius: 10px;
}

.cata_btn {
    background-color: #092f76;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 50px;
    box-shadow: initial;
    box-decoration-break: slice;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    font-weight: bold;
}

.cata_btn a {
    color: white;
    text-decoration: none;
}

.cata_btn:hover {
    background-color: #1a9890;
}


.topics {
    padding: 10px;
}

.topics_title {
    color: darkblue;
    padding: 10px;
    margin-top: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.topics_container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
    padding: 10px;
}

.topics_container p {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px 15px;
    flex-grow: 1;
    flex-basis: 25%;
    background: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-style: oblique;
    color: #551a6e;
    font-weight: bold;
}

.topics_container p:hover {
    border-color: #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.popular {
    padding: 10px;
}

.popular_title {
    color: darkgreen;
    padding: 10px;
    margin-top: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.popular_subtitle {
    color: darkgreen;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.popular_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.footer {
    background-color: #1c1d1f;
    color: #fff;
    padding: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 100px;

}

.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 40px;
}

.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.footer-column {
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
}

.footer-column h3 {
    margin-bottom: 15px;
    font-size: 16px;
}

.footer-column a {
    color: #ddd;
    text-decoration: none;
    margin: 5px 0;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-column a:hover {
    color: #007BFF;
}

.footer_two {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #333;
    padding-top: 20px;
}